/*For some page the styles are set within the page using AngularJS*/

#left_div{
	position: relative;
	width: 80%;
	height: 20vw;
	left: 10%;
}

#left_div table{
	position: relative;
	margin-top: 2%;
	width: 90%;
	left: 5%;
    table-layout:fixed;
}

#left_div .input_field
{
	width: 80%;
	margin: 1%;
}

#left_div table tr td{
	width: 20%;
}

#left_div h4 {
	width: 96%;
	left: 0%;
	height: auto;
	padding: 3%;
}