/*For some page the styles are set within the page using AngularJS*/

#left_div{
	position: relative;
	width: 80%;
	min-height: 20vw;
	height: auto;
	left: 10%;
}

#left_div table{
	position: relative;
	margin-top: 2%;
	width: 90%;
	left: 5%;
    table-layout:fixed;
}

#left_div .input_field
{
	width: 80%;
	margin: 1%;
}

#left_div table tr td{
	width: 60%;
}

#left_div h4 {
	width: 60%;
	left: 15%;
	height: auto;
	padding: 3%;
    text-align: center;
}

#left_div ul{
    list-style-type: none;
}

#left_div ul>li{
    padding: 2px;
}