<!DOCTYPE html>
<html ng-app="CombineModule" ng-controller = "Controller">
    <head>
        <title>Angular Add Items to Cart</title>
        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" /> <!--For mobile viewport proper resizing-->
        <meta name="description" content="Portfolio implemented as means to present and/or demonstrate professional skills, work and efforts put into practice for building up a reliable knowledge foundation to facilitate the adaptability within a new environment, industry, toolchain workplace or with various technologies within the IT industry.">
        <meta name="keywords" content="HTML,CSS,XML,JavaScript,C,C++,C#,Java,Python,Unity,Programming,IT,Learning,Portal,Projects,Github,Skills,Documentation,Exercise,Examples,Coding,Samples,LinkedIn,Online,Software,Engineering,Scripts,Games,Web,Development,CV,Demonstration,Practice,Electronic,Automation,Computers,Systems,Challenge,AI,Repositories,Tips,Tricks,Know,How,To">
        <meta name="author" content="Vacariu Dragos">
        <link rel="icon" type="image/x-icon" href="../../website_resources/global/images/favicon.ico">
        <!--Global resources-->
        <link rel="stylesheet" href="../../website_resources/global/css/global.css">
        <link rel="stylesheet" href="../../website_resources/global/css/video_page.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <!--Local resources-->
        <link rel="stylesheet" href="./angular_app.css">
    </head>
    <body>
        <header id="page_header">
            <!--The content will be added from javascript-->
        </header>
        <div id="page_block">
            <h2>Catalogue -> <a href={{angularjs_page.value}}>{{angularjs_page.name}}</a> -> Add Items to Cart</h2>
            <div id = "block_content">
                <h3>Add Items to Cart</h3>
                <div id="left_div" ng-module="angular_app" ng-controller = "angular_Controller"  style="height: auto;">
                    <h4> 
                        <p >Item List:</p>
                        <table style = "width: 30%; left: 35%; margin: 0%;">
                            <tr ng-repeat="x in itemlist">
                                <td ng-click="x.color='blue'" 
                                ng-dblclick="x.color='white'"
                                ng-style="x.style={'background-color': x.color}">{{x.item}}</td>
                            </tr>
                        </table><br>
                        <input type="button" ng-click="AddItemsToCart()" value="Add to cart"></input>
                        <br><br>Items in Cart: 
                        <p ng-bind="message"></p>
                    </h4>
                </div>
            </div>
        </div>
        <footer id="page_footer">
            <!--The content will be added from javascript-->
        </footer> 
    </body>
    <!--This resource has to be added here because we need the elements in the HTML document to exist before 
    running the script-->
    <!--Global resources-->
    <script src="../../website_resources/global/scripts/global_script.js"></script>
    <script>
    var nested_app = angular.module('angular_app', []);
    nested_app.controller('angular_Controller', function($scope) {
    //Initializing the models;
        $scope.itemlist = [ {item : "Food", color: "white" }, 
                            {item : "Shoes", color: "white"  }, 
                            {item : "Cars", color: "white"  }, 
                            {item : "Clothes", color: "white"  }, 
                            {item : "Drinks", color: "white"  }];
        $scope.AddItemsToCart = function ()
        {
            $scope.message="";
            angular.forEach($scope.itemlist, function(value, key) {
                if(value.color == "blue" )
                {
                    $scope.message += value.item + ", ";
                    value.color = "white";
                }
            });
        }
    });
    /*combining 2 angular apps into single one*/
    angular.module("CombineModule", ["myApplication", "angular_app"]);
</script>
</html>