<!DOCTYPE html>
<html>
	<head>
		<title>{{pageObject.page_title}} Angular Item List</title>
		<meta charset = "UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" /> <!--For mobile viewport proper resizing-->
		<!--Global resources-->
		<link rel="stylesheet" href="../../portfolio/website_resources/global/css/global.css">
		<link rel="stylesheet" href="../../portfolio/website_resources/global/css/video_page.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script src="../../portfolio/website_resources/global/scripts/global_script.js"></script>
		<!--Local resources-->
		<link rel="stylesheet" href="./angular_app.css">
	</head>
	<body   ng-app="CombineModule" ng-controller = "Controller">
		<header>
			<div id="header_title">
				<h2>{{pageObject.page_title}}</h2>
			</div>				
		</header>
		<nav>
			<table>
				<tr>
					<td>
						<div>
							<a class = "outer_href" href={{exitDir}}{{pageObject.page_navigation[0].value}}>{{pageObject.page_navigation[0].name}}</a>
						</div>
					</td>
					<td id = "selected_webpage" >
						<div class="dropdown_menu">
							<a class="outer_href">{{pageObject.page_navigation[1].name}}</a>
							<div class="dropdown_content">
								<a ng-repeat="page in pageObject.page_navigation_dropdown" href={{exitDir}}{{page.value}}>{{page.name}}</a>
							</div>
						</div>
					</td>
					<td>
						<div>
							<a class = "outer_href"  href={{exitDir}}{{pageObject.page_navigation[2].value}}>{{pageObject.page_navigation[2].name}}</a>
						</div>
					</td>
				</tr>
			</table>
		</nav>
		<div id="page_block">
			<h2>Catalogue -> <a href={{exitDir}}{{angularjs_page.value}}>{{angularjs_page.name}}</a> -> Item List</h2>
			<h3>Item List</h3>
			<div id="left_div" ng-module="angular_app" ng-controller = "angular_Controller">
				<h4> 
					Add item to list:
					<input type="text" ng-keypress = "Typing()" ng-style = "myStyle" ng-model="itemToAdd"></input>
					<input type="button" ng-click="Add()" value="Add Item"></button>
					<input type="button" ng-click="Clear()" value="Clear List"></button>
					<br><br>The list is the following:
					<ul>
						<li ng-repeat="x in itemlist">{{x}}</li>
					</ul>
					<p ng-bind="message"></p>
				</h4>
			</div>		
		</div>
		<footer>
			<h4>{{pageObject.footer_copyright}}</h4>
			<h5>{{pageObject.footer_paragraph}}</h5>
			<table>
				<tr>
					<th>{{pageObject.footer_table_headers[0]}}</th>
					<th>{{pageObject.footer_table_headers[1]}}</th>
					<th>{{pageObject.footer_table_headers[2]}}</th>
				</tr>
				<tr>
					<td>
						<ul class="footer_list">
							<li ng-repeat="x in pageObject.template_info">{{x}}</li>
						</ul>
					</td>
					<td>
						<ul class="footer_list">
							<li ng-repeat="x in pageObject.connections_list">
								<a class = "outer_href" href="https://www.{{x}}">{{x}}
								</a>
							</li>
						</ul>
					</td>
					<td>
						<ul class="footer_list">
							<li ng-repeat="x in pageObject.tools_used">{{x}}</li>
						</ul>
					</td>
				</tr>
			</table>
		</footer>
	</body>
	<script>
	var nested_app = angular.module('angular_app', []);
	nested_app.controller('angular_Controller', function($scope) {
	//Initializing the models;
		$scope.itemlist = [ {item : "Food", color: "white" }, 
							{item : "Shoes", color: "white"  }, 
							{item : "Cars", color: "white"  }, 
							{item : "Clothes", color: "white"  }, 
							{item : "Drinks", color: "white"  }];
		$scope.AddItemsToCart = function ()
		{
			$scope.message="";
			angular.forEach($scope.itemlist, function(value, key) {
				if(value.color == "blue" )
				{
					$scope.message += value.item + ", ";
					value.color = "white";
				}
			});
		}
	});
	/*combining 2 angular apps into single one*/
	angular.module("CombineModule", ["myApplication", "angular_app"]);
</script>
</html>