<!DOCTYPE html>
<html <!--ng-app="CombineModule" ng-controller = "Controller" --> >
    <head>
        <title>Angular Add Items to Cart</title>
        
        <meta charset = "UTF-8">
        <!--For mobile viewport proper resizing-->
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--Google verification -->
        <meta name="google-site-verification" content="onS_i1AOmpRlObgSmQ5S3Hc2vWXqpaGcGb6_Nc0w6-s" />
        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="../../website_resources/global/images/favicon.ico">
        
        <!--Global resources-->
        <link rel="stylesheet" href="../../website_resources/global/css/global.css">
        <link rel="stylesheet" href="../../website_resources/global/css/video_page.css">
        <link rel="stylesheet" href="../../website_resources/global/css/catalogue_style.css">
        <script src="../../website_resources/global/scripts/video_page_script.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        
        <!--Local resources-->
        <link rel="stylesheet" href="./resources/angular_app.css">
    </head>
    <body>
        <header id="page_header">
            <!--The content will be added from javascript-->
        </header>
        
        <div id="page_block">
            <div id="page_content">
                <div id="navigation">
                    <!-- Actual sidebar content -->
                    <div id="sidebar">

                    </div>
                </div>
                <div id = "block_content">
                    <div id="left_div" ng-app="angular_app" ng-controller = "angular_Controller"  style="height: auto;">
                        <h4> 
                            <p >Item List:</p>
                            <table style = "width: 30%; left: 35%; margin: 0%;">
                                <tr ng-repeat="x in itemlist">
                                    <td ng-click="x.color='lightblue'" 
                                    ng-dblclick="x.color='white'"
                                    ng-style="x.style={'background-color': x.color}">{{x.item}}</td>
                                </tr>
                            </table><br>
                            <input type="button" ng-click="AddItemsToCart()" value="Add to cart"></input>
                            <br><br>Items in Cart: 
                            <p ng-bind="message"></p>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        
        <footer id="page_footer">
            <!--The content will be added from javascript-->
        </footer> 
    </body>
    <!--This resource has to be added here because we need the elements in the HTML document to exist before 
    running the script-->
    
    <!--Global resources-->
    <script src="../../website_resources/global/scripts/global_script.js"></script>
    <script>
    var nested_app = angular.module('angular_app', []);
    nested_app.controller('angular_Controller', function($scope) {
    //Initializing the models;
        $scope.itemlist = [ {item : "Food", color: "white" }, 
                            {item : "Shoes", color: "white"  }, 
                            {item : "Cars", color: "white"  }, 
                            {item : "Clothes", color: "white"  }, 
                            {item : "Drinks", color: "white"  }];
        $scope.AddItemsToCart = function ()
        {
            $scope.message="";
            angular.forEach($scope.itemlist, function(value, key) {
                if(value.color == "lightblue" )
                {
                    $scope.message += value.item + ", ";
                    value.color = "white";
                }
            });
        }
    });
    /*combining 2 angular apps into single one*/
    //angular.module("CombineModule", ["myApplication", "angular_app"]);
</script>
</html>