<!DOCTYPE html>
<html ng-app="CombineModule" ng-controller = "Controller">
    <head>
        <title>Angular Shopping Cart</title>
        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" /> <!--For mobile viewport proper resizing-->
        <meta name="description" content="Portfolio implemented as means to present and/or demonstrate professional skills, work and efforts put into practice for building up a reliable knowledge foundation to facilitate the adaptability within a new environment, industry, toolchain workplace or with various technologies within the IT industry.">
        <meta name="keywords" content="HTML,CSS,XML,JavaScript,C,C++,C#,Java,Python,Unity,Programming,IT,Learning,Portal,Projects,Github,Skills,Documentation,Exercise,Examples,Coding,Samples,LinkedIn,Online,Software,Engineering,Scripts,Games,Web,Development,CV,Demonstration,Practice,Electronic,Automation,Computers,Systems,Challenge,AI,Repositories,Tips,Tricks,Know,How,To">
        <meta name="author" content="Vacariu Dragos">
        <link rel="icon" type="image/x-icon" href="../../website_resources/global/images/favicon.ico">
        <!--Global resources-->
        <link rel="stylesheet" href="../../website_resources/global/css/global.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <!--Local resources-->
        <link rel="stylesheet" href="./resources/angular_app.css">
    </head>
    <body>
        <header id="page_header">
            <!--The content will be added from javascript-->
        </header>
        <div id="page_block">
            <h2>Catalogue -> <a href={{angularjs_page.value}}>{{angularjs_page.name}}</a> -> Shopping Cart</h2>
            <div id = "block_content">
                <div id="left_div" ng-module="angular_app" ng-controller = "angular_Controller"  style="height: auto;">
                    <h4> 
                        <p >The product list is the following:</p>
                        <table style="width: 80%;">
                            <tr ng-repeat="x in itemlist">
                                <td ng-click="x.color='lightblue'" 
                                ng-dblclick="x.color='white'"
                                ng-style="x.style={'background-color': x.color, 'padding': '2px', }">{{x.item}}</td>
                                <td ng-click="x.color='lightblue'" 
                                ng-dblclick="x.color='white'"
                                ng-style="x.style={'background-color': x.color, 'padding': '2px',}">{{x.price}}$</td>
                            </tr>
                        </table><br>
                        <input type="button" ng-click="AddItemsToCart()" value="Add to cart"></input>
                        <!--Message Log:-->
                        <p>Items in Cart: </p>
                        <p ng-bind="message"></p>
                        <p>Total Price: </p>
                        <p ng-bind="Total"></p>
                    </h4>
                </div>
            </div>
        </div>
        <footer id="page_footer">
            <!--The content will be added from javascript-->
        </footer> 
    </body>
    <!--This resource has to be added here because we need the elements in the HTML document to exist before 
    running the script-->
    <!--Global resources-->
    <script src="../../website_resources/global/scripts/global_script.js"></script>
    <script src="../../website_resources/global/scripts/catalogue_item_selection_styling.js"></script>
    <script>
        var nested_app = angular.module('angular_app', []);
        nested_app.controller('angular_Controller', function($scope) {
            //Initializing the models;
            $scope.Total = "";
            $scope.itemlist = [ {item : "Meal", color: "white", price: 28.5, }, 
                                {item : "Sneakers", color: "white", price: 32.1,   }, 
                                {item : "Toyota Corolla", color: "white", price: 11999, }, 
                                {item : "Jeans", color: "white", price: 199.9,  }, 
                                {item : "T-Shirt", color: "white", price: 19.9,  }, 
                                {item : "Hat", color: "white", price: 5.2,  }, 
                                {item : "Chess Game", color: "white", price: 15.4,  }, 
                                {item : "Wine", color: "white", price: 11.5,  }, 
                                {item : "Salad", color: "white", price: 1.5,  }, 
                                {item : "Pizza", color: "white", price: 12.9,  }, 
                                {item : "Beer", color: "white", price: 55.2, }];
            $scope.AddItemsToCart = function ()
            {
                $scope.message="";
                $scope.Total = 0;
                angular.forEach($scope.itemlist, function(value, key) {
                    if(value.color == "lightblue" )
                    {
                        $scope.message += value.item + ", ";
                        value.color = "white";
                        $scope.Total += value.price;
                    }
                });
                $scope.Total+="$";
            }
        });
        /*combining 2 angular apps into single one*/
        angular.module("CombineModule", ["myApplication", "angular_app"]);
    </script>
</html>