<!DOCTYPE html>
<html ng-app="CombineModule" ng-controller = "Controller">
    <head>
        <title>Angular Simple Calculator</title>
        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" /> <!--For mobile viewport proper resizing-->
        <meta name="description" content="Portfolio implemented as means to present and/or demonstrate professional skills, work and efforts put into practice for building up a reliable knowledge foundation to facilitate the adaptability within a new environment, industry, toolchain workplace or with various technologies within the IT industry.">
        <meta name="keywords" content="HTML,CSS,XML,JavaScript,C,C++,C#,Java,Python,Unity,Programming,IT,Learning,Portal,Projects,Github,Skills,Documentation,Exercise,Examples,Coding,Samples,LinkedIn,Online,Software,Engineering,Scripts,Games,Web,Development,CV,Demonstration,Practice,Electronic,Automation,Computers,Systems,Challenge,AI,Repositories,Tips,Tricks,Know,How,To">
        <meta name="author" content="Vacariu Dragos">
        <link rel="icon" type="image/x-icon" href="../../website_resources/global/images/favicon.ico">
        <!--Global resources-->
        <link rel="stylesheet" href="../../website_resources/global/css/global.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <!--Local resources-->
        <link rel="stylesheet" href="./resources/angular_app.css">
    </head>
    <body>
        <header id="page_header">
            <!--The content will be added from javascript-->
        </header>
        <div id="page_block">
            <h2>Catalogue -> <a href={{angularjs_page.value}}>{{angularjs_page.name}}</a> -> Simple Calculator</h2>
            <div id = "block_content">
                <div id="left_div" ng-module="angular_app" ng-controller = "angular_Controller">
                    <table>
                        <th>First Number:</th>
                        <th>Operation:</th>
                        <th>Second Number:</th>
                        <tr>
                            <td><input class="input_field" type="number" ng-style="colorButton1" ng-change="print()" ng-model="number1" required></input>
                            <!-- ng-style directive is used for styling in angular.js -->
                            </td>
                            <td><select class="input_field" ng-change="print()" ng-style="colorOperatorSelection" ng-model="operation" required>
                                <option></option>
                                <option>/</option>
                                <option>+</option>
                                <option>-</option>
                                <option>*</option>
                            </select></td>
                            <td><input class="input_field" type="number" ng-style="colorButton2" ng-change="print()" ng-model="number2" required></input>
                            <!-- ng-style directive is used for styling in angular.js -->
                            </td>
                        </tr>
                    </table>
                    <!--Message Log:-->
                    <h4 style="text-align: center; font-size: 16px" ng-bind = "message"></h4>
                </div>
            </div>
        </div>
        <footer id="page_footer">
            <!--The content will be added from javascript-->
        </footer> 
    </body>
    <!--This resource has to be added here because we need the elements in the HTML document to exist before 
    running the script-->
    <!--Global resources-->
    <script src="../../website_resources/global/scripts/global_script.js"></script>
    <script src="../../website_resources/global/scripts/catalogue_item_selection_styling.js"></script>
    <script>
    var nested_app = angular.module('angular_app', []);
    nested_app.controller('angular_Controller', function($scope) {
        //Initializing the models;
        $scope.operation = '';
        $scope.number1 = '';
        $scope.number2 = '';
        $scope.result = '';
        
        $scope.print = function (){
            $scope.check();
            $scope.message= $scope.number1 + " " + $scope.operation + " " +  $scope.number2 + " = " +$scope.result;
        }
        
        $scope.check = function ()
        {
            $scope.colorButton1 = {"background-color":"white",};
            $scope.colorButton2 = {"background-color":"white",};
            $scope.colorOperatorSelection = {"background-color":"white",};
            
            if(angular.isNumber($scope.number1) == false) //checks wether the input form is for number or not.
            {
                $scope.colorButton1 = {
                    //Here you can change the CSS fields as desired:
                    "background-color":"pink", //the fields will be separated by coma (,).
                }; 
            }
            else if($scope.operation == '')
            {
                $scope.colorOperatorSelection = {
                    //Here you can change the CSS fields as desired:
                    "background-color":"pink", //the fields will be separated by coma (,).
                }; 
            }
            else if(angular.isNumber($scope.number2) == false) //checks wether the input form is for number or not.
            {
                $scope.colorButton2 = {
                    //Here you can change the CSS fields as desired:
                    "background-color":"pink", //the fields will be separated by coma (,).
                }; 
            }
            else
            {
                if($scope.operation == '+'){
                    $scope.result = $scope.number1 + $scope.number2;
                }
                else if($scope.operation == '*'){
                    $scope.result = $scope.number1 * $scope.number2
                }
                else if($scope.operation == "-"){
                    $scope.result = $scope.number1 - $scope.number2
                }
                else {
                    $scope.result = $scope.number1 / $scope.number2
                }
            }
        }
    });
    /*combining 2 angular apps into single one*/
    angular.module("CombineModule", ["myApplication", "angular_app"]);
</script>
</html>