<!DOCTYPE html>
<html ng-app="CombineModule" ng-controller = "Controller">
    <head>
        <title>Angular Display Content According to Href</title>
        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" /> <!--For mobile viewport proper resizing-->
        <meta name="description" content="Portfolio implemented as means to present and/or demonstrate professional skills, work and efforts put into practice for building up a reliable knowledge foundation to facilitate the adaptability within a new environment, industry, toolchain workplace or with various technologies within the IT industry.">
        <meta name="keywords" content="HTML,CSS,XML,JavaScript,C,C++,C#,Java,Python,Unity,Programming,IT,Learning,Portal,Projects,Github,Skills,Documentation,Exercise,Examples,Coding,Samples,LinkedIn,Online,Software,Engineering,Scripts,Games,Web,Development,CV,Demonstration,Practice,Electronic,Automation,Computers,Systems,Challenge,AI,Repositories,Tips,Tricks,Know,How,To">
        <meta name="author" content="Vacariu Dragos">
        <link rel="icon" type="image/x-icon" href="../../website_resources/global/images/favicon.ico">
        <!--Global resources-->
        <link rel="stylesheet" href="../../website_resources/global/css/global.css">
        <link rel="stylesheet" href="../../website_resources/global/css/video_page.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <!--Local resources-->
        <link rel="stylesheet" href="./angular_app.css">
    </head>
    <body>
        <header id="page_header">
            <!--The content will be added from javascript-->
        </header>
        <div id="page_block">
            <h2>Catalogue -> <a href={{angularjs_page.value}}>{{angularjs_page.name}}</a> -> Display Content According to Href</h2>
            <div id = "block_content">
                <h3>Display Content According to Href</h3>
                <div id="left_div" ng-module="angular_app" ng-controller = "angular_Controller"  style="height: auto;">
                    <h4> 
                        <ul>
                            <li><a href="" ng-click="page=1;">Music</a></li>
                            <li><a href="" ng-click="page=2;">Video</a></li>
                            <li><a href="" ng-click="page=3;">Forum</a></li>
                            <li><a href="" ng-click="page=4;">Blog</a></li>
                        </ul>
                        <div ng-switch="page"> <!--Adding a variable to the form-->
                            <div ng-switch-when="1"> <!--Adding a switch to the form-->
                                 <h1>Music</h1>    
                                 <p>Welcome to a world of music.</p>
                            </div>
                            <div ng-switch-when="2"> <!--Adding a switch to the form-->
                                 <h1>Video</h1> 
                                 <p>This is the video page.</p>
                            </div>
                            <div ng-switch-when="3"> <!--Adding a switch to the form-->
                                 <h1>Forum</h1>
                                 <p>Feel free to ask anything.</p>
                            </div>
                            <div ng-switch-when="4"> <!--Adding a switch to the form-->
                                 <h1>Blog</h1>
                                 <p>Enjoy the lecture.</p>
                            </div>
                        </div>
                    </h4>
                </div>
            </div>
        </div>
        <footer id="page_footer">
            <!--The content will be added from javascript-->
        </footer> 
    </body>
    <!--This resource has to be added here because we need the elements in the HTML document to exist before 
    running the script-->
    <!--Global resources-->
    <script src="../../website_resources/global/scripts/global_script.js"></script>
    <script>
        var nested_app = angular.module('angular_app', []);
        nested_app.controller('angular_Controller', function($scope) {
            //Initializing the models;
            $scope.page=0;
        });
        /*combining 2 angular apps into single one*/
        angular.module("CombineModule", ["myApplication", "angular_app"]);
    </script>
</html>