<!DOCTYPE html>
<html ng-app="CombineModule" ng-controller = "Controller">
	<head>
		<title>Angular Shopping Cart</title>
		<meta charset = "UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" /> <!--For mobile viewport proper resizing-->
		<meta name="description" content="Portfolio implemented as means to present and/or demonstrate professional skills, work and efforts put into practice for building up a reliable knowledge foundation to facilitate the adaptability within a new environment, industry, toolchain workplace or with various technologies within the IT industry.">
        <meta name="keywords" content="HTML,CSS,XML,JavaScript,C,C++,C#,Java,Python,Unity,Programming,IT,Learning,Portal,Projects,Github,Skills,Documentation,Exercise,Examples,Coding,Samples,LinkedIn,Online,Software,Engineering,Scripts,Games,Web,Development,CV,Demonstration,Practice,Electronic,Automation,Computers,Systems,Challenge,AI,Repositories,Tips,Tricks,Know,How,To">
        <meta name="author" content="Vacariu Dragos">
        <link rel="icon" type="image/x-icon" href="../../website_resources/global/images/favicon.ico">
        <!--Global resources-->
		<link rel="stylesheet" href="../../website_resources/global/css/global.css">
		<link rel="stylesheet" href="../../website_resources/global/css/video_page.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<!--Local resources-->
		<link rel="stylesheet" href="./angular_app.css">
	</head>
	<body>
		<header>
			<div id="header_title">
				<h2>{{pageObject.page_title}}</h2>
			</div>				
		</header>
		<nav>
			<div ng-repeat="page in pageObject.page_navigation" ng-style="selectedWebPageStyle(page, 'Catalogue')">
				<a ng-if="page.name!='Catalogue'" class = "outer_href" href={{page.value}}>{{page.name}}</a>
				
				<div ng-if="page.name=='Catalogue'" class="dropdown_menu" style="padding:0%;">
					<a class="outer_href">{{pageObject.page_navigation[1].name}}</a>
					<div class="dropdown_content">
						<a ng-repeat="page in pageObject.page_navigation_dropdown" href={{page.value}}>{{page.name}}</a>
					</div>
				</div>	
			</div>
		</nav>
		<div id="page_block">
			<h2>Catalogue -> <a href={{exitDir}}{{exitDir}}{{angularjs_page.value}}>{{angularjs_page.name}}</a> -> Shopping Cart</h2>
			<h3>Shopping Cart</h3>
			<div id="left_div" ng-module="angular_app" ng-controller = "angular_Controller"  style="height: auto;">
				<h4> 
					<p >The product list is the following:</p>
					<table style="width: 30%;">
						<tr ng-repeat="x in itemlist">
							<td ng-click="x.color='blue'" 
							ng-dblclick="x.color='white'"
							ng-style="x.style={'background-color': x.color, 'padding': '2px', }">{{x.item}}</td>
							<td ng-click="x.color='blue'" 
							ng-dblclick="x.color='white'"
							ng-style="x.style={'background-color': x.color, 'padding': '2px',}">{{x.price}}$</td>
						</tr>
					</table><br>
					<input type="button" ng-click="AddItemsToCart()" value="Add to cart"></input>
					<!--Message Log:-->
					<p>Items in Cart: </p>
					<p ng-bind="message"></p>
					<p>Total Price: </p>
					<p ng-bind="Total"></p>
				</h4>
			</div>		
		</div>
		<footer>
            <h4 id="copyright_message">{{pageObject.footer_copyright}}</h4>
            <table>
                <tr>
                    <th ng-repeat="list_item in footer_table_contents">{{list_item.name}}:</th>
                </tr>
                <tr>
                    <td ng-repeat="list_item in footer_table_contents">
                        <ul class="footer_list">
                            <li ng-if = "list_item.content == 'text'" ng-repeat="item in list_item.list_values">{{item}}</li>
                            <li ng-if = "list_item.content == 'objects_with_links'" ng-repeat="item in list_item.list_values"><a href="{{item.value}}">{{item.name}}</a></li>
                        </ul>
                    </td>
                </tr>
            </table>
            <h5 id="footer_endline">{{pageObject.footer_paragraph}}</h5>
        </footer> 
	</body>
    <!--This resource has to be added here because we need the elements in the HTML document to exist before 
    running the script-->
    <!--Global resources-->
    <script src="../../website_resources/global/scripts/global_script.js"></script>
	<script>
		var nested_app = angular.module('angular_app', []);
		nested_app.controller('angular_Controller', function($scope) {
			//Initializing the models;
			$scope.Total = "";
			$scope.itemlist = [ {item : "Meal", color: "white", price: 28.5, }, 
								{item : "Sneakers", color: "white", price: 32.1,   }, 
								{item : "Toyota Corolla", color: "white", price: 11999, }, 
								{item : "Jeans", color: "white", price: 199.9,  }, 
								{item : "T-Shirt", color: "white", price: 19.9,  }, 
								{item : "Hat", color: "white", price: 5.2,  }, 
								{item : "Chess Game", color: "white", price: 15.4,  }, 
								{item : "Wine", color: "white", price: 11.5,  }, 
								{item : "Salad", color: "white", price: 1.5,  }, 
								{item : "Pizza", color: "white", price: 12.9,  }, 
								{item : "Beer", color: "white", price: 55.2, }];
			$scope.AddItemsToCart = function ()
			{
				$scope.message="";
				$scope.Total = 0;
				angular.forEach($scope.itemlist, function(value, key) {
					if(value.color == "blue" )
					{
						$scope.message += value.item + ", ";
						value.color = "white";
						$scope.Total += value.price;
					}
				});
				$scope.Total+="$";
			}
		});
		/*combining 2 angular apps into single one*/
		angular.module("CombineModule", ["myApplication", "angular_app"]);
	</script>
</html>