<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<body>

<div ng-app="myApplication" ng-controller="Controller">
<form>
	<p >The product list is the following:</p>
	<table>
		<tr ng-repeat="x in itemlist">
			<td ng-click="x.color='blue'" 
			ng-dblclick="x.color='white'"
			ng-style="x.style={'background-color': x.color, 'padding': '2px', }">{{x.item}}</td>
			<td ng-click="x.color='blue'" 
			ng-dblclick="x.color='white'"
			ng-style="x.style={'background-color': x.color, 'padding': '2px',}">{{x.price}}$</td>
		</tr>
	</table>
	<input type="button" ng-click="AddItemsToCart()" value="Add to cart"></input>
	<!--Message Log:-->
	<h4>Items in Cart: </h4>
	<p ng-bind="message"></p>
	<h4>Total Price: </h4>
	<p ng-bind="Total"></p>
<form>
</div>

<script>
var app = angular.module('myApplication', []);
var number1;
app.controller('Controller', function($scope) {
	//Initializing the models;
	$scope.Total = "";
	$scope.itemlist = [ {item : "Meal", color: "white", price: 28.5, }, 
						{item : "Sneakers", color: "white", price: 32.1,   }, 
						{item : "Toyota Corolla", color: "white", price: 11999, }, 
						{item : "Jeans", color: "white", price: 199.9,  }, 
						{item : "T-Shirt", color: "white", price: 19.9,  }, 
						{item : "Hat", color: "white", price: 5.2,  }, 
						{item : "Chess Game", color: "white", price: 15.4,  }, 
						{item : "Wine", color: "white", price: 11.5,  }, 
						{item : "Salad", color: "white", price: 1.5,  }, 
						{item : "Pizza", color: "white", price: 12.9,  }, 
						{item : "Beer", color: "white", price: 55.2, }];
	$scope.AddItemsToCart = function ()
	{
		$scope.message="";
		$scope.Total = 0;
		angular.forEach($scope.itemlist, function(value, key) {
			if(value.color == "blue" )
			{
				$scope.message += value.item + ", ";
				value.color = "white";
				$scope.Total += value.price;
			}
		});
		$scope.Total+="$";
	}
});
</script>

</body>
</html>