<!DOCTYPE html>
<html ng-app="CombineModule" ng-controller = "Controller">
    <head>
        <title>Angular Item List</title>
        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" /> <!--For mobile viewport proper resizing-->
        <meta name="description" content="Portfolio implemented as means to present and/or demonstrate professional skills, work and efforts put into practice for building up a reliable knowledge foundation to facilitate the adaptability within a new environment, industry, toolchain workplace or with various technologies within the IT industry.">
        <meta name="keywords" content="HTML,CSS,XML,JavaScript,C,C++,C#,Java,Python,Unity,Programming,IT,Learning,Portal,Projects,Github,Skills,Documentation,Exercise,Examples,Coding,Samples,LinkedIn,Online,Software,Engineering,Scripts,Games,Web,Development,CV,Demonstration,Practice,Electronic,Automation,Computers,Systems,Challenge,AI,Repositories,Tips,Tricks,Know,How,To">
        <meta name="author" content="Vacariu Dragos">
        <link rel="icon" type="image/x-icon" href="../../website_resources/global/images/favicon.ico">
        <!--Global resources-->
        <link rel="stylesheet" href="../../website_resources/global/css/global.css">
        <link rel="stylesheet" href="../../website_resources/global/css/video_page.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <!--Local resources-->
        <link rel="stylesheet" href="./angular_app.css">
    </head>
    <body>
        <header id="page_header">
            <!--The content will be added from javascript-->
        </header>
        <div id="page_block">
            <h2>Catalogue -> <a href={{angularjs_page.value}}>{{angularjs_page.name}}</a> -> Item List</h2>
            <div id = "block_content">
                <h3>Item List</h3>
                <div id="left_div" ng-module="angular_app" ng-controller = "angular_Controller">
                    <h4> 
                        Add item to list:
                        <input type="text" ng-keypress = "Typing()" ng-style = "myStyle" ng-model="itemToAdd"></input>
                        <input type="button" ng-click="Add()" value="Add Item"></button>
                        <input type="button" ng-click="Clear()" value="Clear List"></button>
                        <br></br>The list is the following:
                        <ul>
                            <li ng-repeat="x in itemlist">{{x}}</li>
                        </ul>
                        <p ng-bind="message"></p>
                    </h4>
                </div>
            </div>
        </div>
        <footer id="page_footer">
            <!--The content will be added from javascript-->
        </footer> 
    </body>
    <!--This resource has to be added here because we need the elements in the HTML document to exist before 
    running the script-->
    <!--Global resources-->
    <script src="../../website_resources/global/scripts/global_script.js"></script>
    <script>
    var nested_app = angular.module('angular_app', []);
    nested_app.controller('angular_Controller', function($scope) {
        //Initializing the models;
        $scope.itemlist = [];
        $scope.itemToAdd = "";
        $scope.Add = function ()
        {
            $scope.message = "";
            $scope.myStyle = {"background-color": "white",}; //color the input box to white before proceed
            if($scope.itemToAdd == "")
            {
                $scope.message = "The input field is empty.";
                $scope.myStyle = {"background-color": "pink",}; //color the input box to pink
            }
            else
            {
                $scope.itemlist.push($scope.itemToAdd); //add item to the list.
                $scope.itemToAdd="";
            }
        }
        $scope.Typing = function()
        {
            $scope.message = "";
            $scope.myStyle = {"background-color": "white",};
        }
        $scope.Clear = function ()
        {
            $scope.itemlist = []; //clear the list
        }
    });
    /*combining 2 angular apps into single one*/
    angular.module("CombineModule", ["myApplication", "angular_app"]);
</script>
</html>