<!DOCTYPE html>
<html ng-app="CombineModule" ng-controller = "Controller">
    <head>
        <title>Angular Checkerboard</title>
        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" /> <!--For mobile viewport proper resizing-->
        <meta name="description" content="Portfolio implemented as means to present and/or demonstrate professional skills, work and efforts put into practice for building up a reliable knowledge foundation to facilitate the adaptability within a new environment, industry, toolchain workplace or with various technologies within the IT industry.">
        <meta name="keywords" content="HTML,CSS,XML,JavaScript,C,C++,C#,Java,Python,Unity,Programming,IT,Learning,Portal,Projects,Github,Skills,Documentation,Exercise,Examples,Coding,Samples,LinkedIn,Online,Software,Engineering,Scripts,Games,Web,Development,CV,Demonstration,Practice,Electronic,Automation,Computers,Systems,Challenge,AI,Repositories,Tips,Tricks,Know,How,To">
        <meta name="author" content="Vacariu Dragos">
        <link rel="icon" type="image/x-icon" href="../../website_resources/global/images/favicon.ico">
        <!--Global resources-->
        <link rel="stylesheet" href="../../website_resources/global/css/global.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <!--Local resources-->
        <link rel="stylesheet" href="./resources/angular_app.css">
    </head>
    <body>
        <header id="page_header">
            <!--The content will be added from javascript-->
        </header>
        <div id="page_block">
            <h2>Catalogue -> <a href={{angularjs_page.value}}>{{angularjs_page.name}}</a> -> Checkerboard</h2>
            <div id = "block_content">
                <div id="left_div" style = "height: auto;" ng-module="angular_app" ng-controller = "angular_Controller">
                    <table style="width: auto; margin: 0%; left: 20%; padding: 0%;">
                        <tr ng-repeat="x in tableRowsCollection">
                            <td ng-repeat="y in tableRowsCollection" style = "width: auto;">
                                <div ng-show="y%2==0 && x%2==0" ng-style="{'border-color' : 'black', 'width': '1vw', 'height': '1vw', 'border-width' : '2px', 'border-style' : 'solid','margin' : '0vw', 'padding':'1.25vw', 'background-color': 'white'}">
                                </div>
                                <div ng-show="y%2==1 && x%2==1" ng-style="{'border-color' : 'black', 'width': '1vw', 'height': '1vw', 'border-width' : '2px', 'border-style' : 'solid','margin' : '0vw', 'padding':'1.25vw', 'background-color': 'white'}">
                                </div>
                                <div ng-show="y%2==0 && x%2==1" ng-style="{'border-color' : 'black', 'width': '1vw', 'height': '1vw', 'border-width' : '2px', 'border-style' : 'solid','margin' : '0vw', 'padding':'1.25vw', 'background-color': 'black'}">
                                </div>
                                <div ng-show="y%2==1 && x%2==0" ng-style="{'border-color' : 'black', 'width': '1vw', 'height': '1vw', 'border-width' : '2px', 'border-style' : 'solid','margin' : '0vw', 'padding':'1.25vw', 'background-color': 'black'}">
                                </div>
                            <td>
                        </tr>
                    </table>
                </div>
            </div>                
        </div>
        <footer id="page_footer">
            <!--The content will be added from javascript-->
        </footer> 
    </body>
    <!--This resource has to be added here because we need the elements in the HTML document to exist before 
    running the script-->
    <!--Global resources-->
    <script src="../../website_resources/global/scripts/global_script.js"></script>
    <script src="../../website_resources/global/scripts/catalogue_item_selection_styling.js"></script>
    <script>
    var nested_app = angular.module('angular_app', []);
    nested_app.controller('angular_Controller', function($scope) {
        $scope.tableRowsCollection = [1,2,3,4,5,6,7,8];
        }
    );
    /*combining 2 angular apps into single one*/
    angular.module("CombineModule", ["myApplication", "angular_app"]);
</script>
</html>