<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<body>

<div ng-app="myApplication" ng-controller="Controller">
<p>Create a customized table below:</p>
<form>
<table>
<tr>
	<td>Rows:</td>
	<td>Columns:</td>
	<td>Border:</td>
	<td>BorderColor:</td>
	<td>BorderSize:</td>
	<td>TableBackground:</td>
	<td>Padding:</td>
	<td>FontFamily:</td>
</tr>
<tr>
	<td>
		<select ng-model="tableRows" ng-change="RowsChanged()">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
			<option>6</option>
			<option>7</option>
			<option>8</option>
			<option>9</option>
		</select>
	</td>
	<td>
		<select ng-model="tableColumns" ng-change="ColumnsChanged()">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
			<option>6</option>
			<option>7</option>
			<option>8</option>
			<option>9</option>
		</select></td>
	<td>
		<select ng-model="BorderStyle">
			<option>dotted</option>
			<option>dashed</option>
			<option>solid</option>
			<option>double</option>
			<option>groove</option>
			<option>ridge</option>
			<option>inset</option>
			<option>none</option>
			<option>hidden</option>
		</select>
	</td>
	<td>
	<select ng-model="BorderColor">
		<option>blue</option>
		<option>red</option>
		<option>green</option>
	</select>
	</td>
	<td>
	<select ng-model="BorderSize">
		<option>1px</option>
		<option>2px</option>
		<option>3px</option>
		<option>4px</option>
		<option>5px</option>
	</select></td>
	</td>
	<td>
	<select ng-model="TableBackgroundColor">
		<option>lightblue</option>
		<option>pink</option>
		<option>yellow</option>
		<option>lightgray</option>
		<option>white</option>
	</select></td>
	</td>
	<td>
	<select ng-model="PaddingSize">
		<option>1px</option>
		<option>2px</option>
		<option>3px</option>
		<option>4px</option>
		<option>5px</option>
	</select></td>
	<td>
	<select ng-model="FontFamily">
		<option>Arial</option>
		<option>Courier New</option>
		<option>Tahoma</option>
		<option>Trebucket MS</option>
		<option>Consolas</option>
	</select></td>
	<td>
	<select ng-model="FontSize">
		<option>11px</option>
		<option>12px</option>
		<option>13px</option>
		<option>14px</option>
		<option>15px</option>
	</select></td>
</tr>
</table>
</form>
<h5>Result:</h5>
<table ng-style="{'border-color' : BorderColor, 
								'border-width' : BorderSize, 'border-style' : BorderStyle, 'background-color': TableBackgroundColor,
								'font-family': FontFamily, 'font-size': FontSize,}">
	<tr ng-repeat="x in tableRowsCollection" ng-style="{'border-color' : BorderColor, 'border-width' : BorderSize, 'border-style' : BorderStyle,}">
		<td ng-repeat="y in tableColumnsCollection" 
			ng-style="{'border-color' : BorderColor, 'border-width' : BorderSize, 'border-style' : BorderStyle, 'padding':PaddingSize,}"
			>{{x.toString() + y.toString()}}<td>
	</tr>
</table>
</div>

<script>
var app = angular.module('myApplication', []);

app.controller('Controller', function($scope) {
	$scope.tableColumns="";
	$scope.tableRows="";
	$scope.tableRowsCollection = [];
	$scope.tableColumnsCollection = [];
	$scope.BorderStyle="";
	$scope.BorderColor="";
	$scope.BorderSize="";
	$scope.PaddingSize="";
	$scope.TableBackgroundColor = "";
	$scope.FontFamily = "";
	$scope.FontSize = "";
	$scope.RowsChanged = function () 
	{
		$scope.aux = parseInt($scope.tableRows);
		$scope.tableRowsCollection = [];
		for(var i=1; i < $scope.aux+1 ; i++)
		{
			$scope.tableRowsCollection.push(i);
		}
	}
	$scope.ColumnsChanged = function () 
	{
		$scope.aux = parseInt($scope.tableColumns);
		$scope.tableColumnsCollection = [];
		for(var i=1; i < $scope.aux+1 ; i++)
		{
			$scope.tableColumnsCollection.push(i);
		}
	}
}
);
</script>

</body>
</html>