<!DOCTYPE html>
<html>
    <head>
        <title>Angular Item List</title>
        
        <meta charset = "UTF-8">
        <!--For mobile viewport proper resizing-->
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--Google verification -->
        <meta name="google-site-verification" content="onS_i1AOmpRlObgSmQ5S3Hc2vWXqpaGcGb6_Nc0w6-s" />
        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="../../website_resources/global/images/favicon.ico">
        
        <!--Global resources-->
        <link rel="stylesheet" href="../../website_resources/global/css/global.css">
        <link rel="stylesheet" href="../../website_resources/global/css/video_page.css">
        <link rel="stylesheet" href="../../website_resources/global/css/catalogue_style.css">
        <script src="../../website_resources/global/scripts/video_page_script.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        
        <!--Local resources-->
        <link rel="stylesheet" href="./resources/angular_app.css">
    </head>
    <body>
        <header id="page_header">
            <!--The content will be added from javascript-->
        </header>
        
        <div id="page_block">
            <div id="page_content">
                <div id="navigation">
                    <!-- Actual sidebar content -->
                    <div id="sidebar">

                    </div>
                </div>
                <div id = "block_content">
                    <div id="left_div" ng-app="angular_app" ng-controller = "angular_Controller">
                        <h4> 
                            Add item to list:
                            <input type="text" ng-keypress = "Typing()" ng-style = "myStyle" ng-model="itemToAdd"></input>
                            <input type="button" ng-click="Add()" value="Add Item"></button>
                            <input type="button" ng-click="Clear()" value="Clear List"></button>
                            <br></br>The list is the following:
                            <ul>
                                <li ng-repeat="x in itemlist">{{x}}</li>
                            </ul>
                            <p ng-bind="message"></p>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        
        <footer id="page_footer">
            <!--The content will be added from javascript-->
        </footer> 
    </body>
    <!--This resource has to be added here because we need the elements in the HTML document to exist before 
    running the script-->
    
    <!--Global resources-->
    <script src="../../website_resources/global/scripts/global_script.js"></script>
    <script>
    var nested_app = angular.module('angular_app', []);
    nested_app.controller('angular_Controller', function($scope) {
        //Initializing the models;
        $scope.itemlist = [];
        $scope.itemToAdd = "";
        $scope.Add = function ()
        {
            $scope.message = "";
            $scope.myStyle = {"background-color": "white",}; //color the input box to white before proceed
            if($scope.itemToAdd == "")
            {
                $scope.message = "The input field is empty.";
                $scope.myStyle = {"background-color": "pink",}; //color the input box to pink
            }
            else
            {
                $scope.itemlist.push($scope.itemToAdd); //add item to the list.
                $scope.itemToAdd="";
            }
        }
        $scope.Typing = function()
        {
            $scope.message = "";
            $scope.myStyle = {"background-color": "white",};
        }
        $scope.Clear = function ()
        {
            $scope.itemlist = []; //clear the list
        }
    });
    /*combining 2 angular apps into single one*/
    //angular.module("CombineModule", ["myApplication", "angular_app"]);
</script>
</html>