<!DOCTYPE html>
<html ng-app="CombineModule" ng-controller = "Controller">
    <head>
        <title>Angular Customized Tables</title>
        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" /> <!--For mobile viewport proper resizing-->
        <meta name="description" content="Portfolio implemented as means to present and/or demonstrate professional skills, work and efforts put into practice for building up a reliable knowledge foundation to facilitate the adaptability within a new environment, industry, toolchain workplace or with various technologies within the IT industry.">
        <meta name="keywords" content="HTML,CSS,XML,JavaScript,C,C++,C#,Java,Python,Unity,Programming,IT,Learning,Portal,Projects,Github,Skills,Documentation,Exercise,Examples,Coding,Samples,LinkedIn,Online,Software,Engineering,Scripts,Games,Web,Development,CV,Demonstration,Practice,Electronic,Automation,Computers,Systems,Challenge,AI,Repositories,Tips,Tricks,Know,How,To">
        <meta name="author" content="Vacariu Dragos">
        <link rel="icon" type="image/x-icon" href="../../website_resources/global/images/favicon.ico">
        <!--Global resources-->
        <link rel="stylesheet" href="../../website_resources/global/css/global.css">
        <link rel="stylesheet" href="../../website_resources/global/css/video_page.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <!--Local resources-->
        <link rel="stylesheet" href="./angular_app.css">
    </head>
    <body>
        <header id="page_header">
            <!--The content will be added from javascript-->
        </header>
        <div id="page_block">
            <h2>Catalogue -> <a href={{angularjs_page.value}}>{{angularjs_page.name}}</a> -> Customized Tables</h2>
            <div id = "block_content">
                <h3>Customized Tables</h3>
                <div id="left_div" ng-module="angular_app" ng-controller = "angular_Controller"  style="height: auto;">
                    <h4 style="width: 90%; left: 0%;"> 
                        <p>Create a customized table below:</p>
                        <table style = "width: 100%;">
                            <tr>
                                <td>Rows:</td>
                                <td>Columns:</td>
                                <td>Border:</td>
                                <td>BorderColor:</td>
                                <td>BorderSize:</td>
                                <td>TableBackground:</td>
                                <td>Padding:</td>
                                <td>FontFamily:</td>
                                <td>FontSize:</td>
                            </tr>
                            <tr>
                                <td style = "width: auto; border: solid 2px black;">
                                    <select ng-model="tableRows" ng-change="RowsChanged()" style = "width:100%;">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                    </select>
                                </td >
                                <td style = "width: auto; border: solid 2px black;" >
                                    <select ng-model="tableColumns" ng-change="ColumnsChanged()" style = "width:100%;">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                    </select></td>
                                <td style = "width: auto; border: solid 2px black;">
                                    <select ng-model="BorderStyle" style = "width:100%;">
                                        <option>dotted</option>
                                        <option>dashed</option>
                                        <option>solid</option>
                                        <option>double</option>
                                        <option>groove</option>
                                        <option>ridge</option>
                                        <option>inset</option>
                                        <option>none</option>
                                        <option>hidden</option>
                                    </select>
                                </td>
                                <td style = "width: auto; border: solid 2px black;">
                                    <select ng-model="BorderColor" style = "width:100%;">
                                        <option>blue</option>
                                        <option>red</option>
                                        <option>green</option>
                                    </select>
                                </td>
                                <td style = "width: auto; border: solid 2px black;">
                                    <select ng-model="BorderSize" style = "width:100%;">
                                        <option>1px</option>
                                        <option>2px</option>
                                        <option>3px</option>
                                        <option>4px</option>
                                        <option>5px</option>
                                    </select>
                                </td>
                                </td>
                                <td style = "width: auto; border: solid 2px black;">
                                    <select ng-model="TableBackgroundColor" style = "width:100%;">
                                        <option>lightblue</option>
                                        <option>pink</option>
                                        <option>yellow</option>
                                        <option>lightgray</option>
                                        <option>white</option>
                                    </select>
                                </td>
                                </td>
                                <td style = "width: auto; border: solid 2px black;">
                                    <select ng-model="PaddingSize" style = "width:100%;">
                                        <option>1px</option>
                                        <option>2px</option>
                                        <option>3px</option>
                                        <option>4px</option>
                                        <option>5px</option>
                                    </select>
                                </td>
                                <td style = "width: auto; border: solid 2px black;">
                                    <select ng-model="FontFamily" style = "width:100%;">
                                        <option>Arial</option>
                                        <option>Courier New</option>
                                        <option>Tahoma</option>
                                        <option>Trebucket MS</option>
                                        <option>Consolas</option>
                                    </select>
                                </td>
                                <td style = "width: auto; border: solid 2px black;">
                                    <select ng-model="FontSize" style = "width:100%;">
                                        <option>11px</option>
                                        <option>12px</option>
                                        <option>13px</option>
                                        <option>14px</option>
                                        <option>15px</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                        <br><br>Result:<br><br>
                        <table style = "width: 100%; table-layout:fixed; border-collapse: collapse;" ng-style="{'border-color' : BorderColor, 
                                        'border-width' : BorderSize, 'border-style' : BorderStyle, 'background-color': TableBackgroundColor,
                                        'font-family': FontFamily, 'font-size': FontSize,  'margin': '0%', 'padding' : '0%' ,}">
                            <tr ng-repeat="x in tableRowsCollection" ng-style="{'border-color' : BorderColor, 'border-width' : BorderSize, 'border-style' : BorderStyle,}">
                                <td style = "width: 100%;" ng-repeat="y in tableColumnsCollection" 
                                    ng-style="{'border-color' : BorderColor, 'border-width' : BorderSize, 
                                    'border-style' : BorderStyle, 'padding':PaddingSize,
                                        }">{{x.toString() + y.toString()}}</td>
                            </tr>
                        </table>
                    </h4>
                </div>
            </div>
        </div>
        <footer id="page_footer">
            <!--The content will be added from javascript-->
        </footer> 
    </body>
    <!--This resource has to be added here because we need the elements in the HTML document to exist before 
    running the script-->
    <!--Global resources-->
    <script src="../../website_resources/global/scripts/global_script.js"></script>
    <script>
        var nested_app = angular.module('angular_app', []);
        nested_app.controller('angular_Controller', function($scope) {
            $scope.tableColumns="";
            $scope.tableRows="";
            $scope.tableRowsCollection = [];
            $scope.tableColumnsCollection = [];
            $scope.BorderStyle="";
            $scope.BorderColor="";
            $scope.BorderSize="";
            $scope.PaddingSize="";
            $scope.TableBackgroundColor = "";
            $scope.FontFamily = "";
            $scope.FontSize = "";
            $scope.RowsChanged = function () 
            {
                $scope.aux = parseInt($scope.tableRows);
                $scope.tableRowsCollection = [];
                for(var i=1; i < $scope.aux+1 ; i++)
                {
                    $scope.tableRowsCollection.push(i);
                }
            }
            $scope.ColumnsChanged = function () 
            {
                $scope.aux = parseInt($scope.tableColumns);
                $scope.tableColumnsCollection = [];
                for(var i=1; i < $scope.aux+1 ; i++)
                {
                    $scope.tableColumnsCollection.push(i);
                }
            }
        });
        /*combining 2 angular apps into single one*/
        angular.module("CombineModule", ["myApplication", "angular_app"]);
    </script>
</html>