<!DOCTYPE html>
<html ng-app="CombineModule" ng-controller = "Controller">
    <head>
        <title>Angular Color Picker</title>
        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" /> <!--For mobile viewport proper resizing-->
        <meta name="description" content="Portfolio implemented as means to present and/or demonstrate professional skills, work and efforts put into practice for building up a reliable knowledge foundation to facilitate the adaptability within a new environment, industry, toolchain workplace or with various technologies within the IT industry.">
        <meta name="keywords" content="HTML,CSS,XML,JavaScript,C,C++,C#,Java,Python,Unity,Programming,IT,Learning,Portal,Projects,Github,Skills,Documentation,Exercise,Examples,Coding,Samples,LinkedIn,Online,Software,Engineering,Scripts,Games,Web,Development,CV,Demonstration,Practice,Electronic,Automation,Computers,Systems,Challenge,AI,Repositories,Tips,Tricks,Know,How,To">
        <meta name="author" content="Vacariu Dragos">
        <link rel="icon" type="image/x-icon" href="../../website_resources/global/images/favicon.ico">
        <!--Global resources-->
        <link rel="stylesheet" href="../../website_resources/global/css/global.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <!--Local resources-->
        <link rel="stylesheet" href="./resources/angular_app.css">
    </head>
    <body>
        <header id="page_header">
            <!--The content will be added from javascript-->
        </header>
        <div id="page_block">
            <h2>Catalogue -> <a href={{angularjs_page.value}}>{{angularjs_page.name}}</a> -> Color Picker</h2>
            <div id = "block_content">
                <div id="left_div" ng-module="angular_app" ng-controller = "angular_Controller"  style="height: auto;">
                    <h4> 
                        <p>Enter values  below:</p>
                        <table style = "width: 80%;">
                            <tr>
                                <td>Red:</td>
                                <td>Green:</td>
                                <td>Blue:</td>
                            </tr>
                            <tr>
                                <td><input type="number" ng-model="Red" style="width:100%;" ng-change="OnChange()"></input></td>
                                <td><input type="number" ng-model="Green" style="width:100%;" ng-change="OnChange()"></input></td>
                                <td><input type="number" ng-model="Blue" style="width:100%;" ng-change="OnChange()"></input></td>
                            </tr>
                        </table>
                        <br><br>Result:<br>
                        <p style="width:80%; min-height:5vw; padding:5%; border-style:solid; border-width:2px;" ng-style="{'background-color' : Color}" ng-bind="Color"></p>
                    </h4>
                </div>
            </div>
        </div>
        <footer id="page_footer">
            <!--The content will be added from javascript-->
        </footer> 
    </body>
    <!--This resource has to be added here because we need the elements in the HTML document to exist before 
    running the script-->
    <!--Global resources-->
    <script src="../../website_resources/global/scripts/global_script.js"></script>
    <script src="../../website_resources/global/scripts/catalogue_item_selection_styling.js"></script>
    <script>
        var nested_app = angular.module('angular_app', []);
        nested_app.controller('angular_Controller', function($scope) {
            $scope.Red=255;
            $scope.Green=255;
            $scope.Blue=255;
            $scope.OnChange = function()
            {
                $scope.Color = "#"; 
                if($scope.Red<10)
                {
                    $scope.Color += "0" + ($scope.Red).toString(16);
                }
                else if($scope.Red>255)
                {
                    $scope.Red = 255;
                    $scope.Color += ($scope.Red).toString(16);
                }
                else
                {
                    $scope.Color += ($scope.Red).toString(16);
                }
                if ($scope.Green<10 )
                {        
                    $scope.Color += "0" + ($scope.Green).toString(16);
                }
                else if($scope.Green>255)
                {
                    $scope.Green = 255;
                    $scope.Color += ($scope.Green).toString(16);
                }
                else
                {
                    $scope.Color += ($scope.Green).toString(16);
                }
                if ($scope.Blue<10 )
                {        
                    $scope.Color += "0" + ($scope.Blue).toString(16);
                }
                else if($scope.Blue>255)
                {
                    $scope.Blue = 255;
                    $scope.Color += ($scope.Blue).toString(16);
                }
                else
                {
                    $scope.Color += ($scope.Blue).toString(16);
                }
            }
        });
        /*combining 2 angular apps into single one*/
        angular.module("CombineModule", ["myApplication", "angular_app"]);
    </script>
</html>